<!-- Social media connects -->
<div id="sociallinks">
    <hr>
    <h4> Follow me: </h3>
    <a href="https://www.instagram.com/kinnartmusic/" target="_new"><img src="/static/images/instagram60.jpg" alt="instagram" class="social first" class="instagram"></a>
    <a href="https://www.youtube.com/@kinnartmusic" target="_new"><img src="/static/images/youtube60.png" alt="Youtube" class="social" class="youtube"></a>
    <a href="https://kinna.bandcamp.com" target="_new"><img src="/static/images/bandcamp-square-64.png" alt="Bandcamp" class="social" class="bandcamp"></a>
    <a href="https://soundcloud.com/kinnamusic" target="_new"><img src="/static/images/soundcloud60.jpg" alt="soundcloud" class="social" class="soundcloud"></a>
    <a href="https://open.spotify.com/artist/2wfge2Q98GmShjd3pE8cDO" target="_new"><img src="/static/images/spotify60.png" alt="Spotify" class="social last" class="spotify"></a>
</div>
