html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
}

html {
    font: 15px/1.6 "Open Sans", GillSansRegular, "Gill Sans MT", "Gill Sans", "Gill Sans W01 Medium", sans-serif;
    font-weight: 200;  
}

body {
    margin-top: 10rem;
    background-color: white;

}

.heading {
    text-align: center;
}

.heading .logo, .heading .logo a {
    display: inline-block;
}

.heading .menu, .heading .menu a {
    display: inline-block;
    text-align: center;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}



#kinna {
    width: 200px;
    height: 48px;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 3rem;
    background: no-repeat url(background.svg);
    color: white;
}

.link {
    display: block;
    color: black;
    padding-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    background-color: black;
    color: white;
    font-weight: 400;
}

.link span {
    color: white;
}

h1 {
    font-weight: 600;
}
    
h3 {
    text-align: center;
    font-style: italic;
}
