<!DOCTYPE html>

<head>
{% include analytics.html %}
{% include head.html %}
</head>

<noscript>
    <div class="noscript">
	    <p>This site requires JavaScript. Please enable JavaScript in you browser settings.</p>
	</div>
</noscript>

<body>
<div id="bg">
    <video id="bgvideo" autoplay>
        <source src="/static/videos/background.webm" type="video/webm"> 
        <source src="/static/videos/background.ogv" type="video/ogg"> 
        <source src="/static/videos/background.mp4" type="video/mp4">
        <source src="/static/videos/background.3gp" type="video/3gp">
        Your browser does not support the video tag.
    </video>
    
</div>

{{ content }}
    <script type="text/javascript">
        /* Add Javascript here */
    </script>
</body>

</html>
