---
layout: default
---
{% capture currenttitle %}{{ page.title }}{% endcapture %}
    <div class="news">
        <h1 class="post-title">{{ currenttitle }}</h1>
{{ content }}


        <h3>Earlier news</h3>
        <div class="related">
            <div class="grid clearfix">
                {% assign newslist = site.news | sort: "date" %}{% assign newslist = newslist | reverse %}{% for post in newslist %}{% if post.title != "News" %}{% if post.title !=  currenttitle %}
                {% include cell.html %}
                {% endif %}{% endif %}{% endfor %}
            </div>
        </div>
    </div>


